<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Horas</ion-title>
    <ion-buttons slot="end">  <!-- Alineado a la derecha -->
      <img src="assets/img/duocuc-logo.png" alt="Logo Duoc UC" style="height: 40px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <img src="assets/img/frame.png" alt="Código QR" />
  </div>
</ion-content>
